body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-color: #f7efe5;
    color: #3e3028;
}

h1 {
    text-align: center;
    color: #a84f36;
    margin-top: 40px;
}

h3 {
    text-align: center;
    color: #6f8063;
    margin-top: 25px;
}

button {
    display: block;
    margin: 25px auto;

    padding: 12px 28px;

    border: none;
    border-radius: 10px;

    background-color: #c96a4a;
    color: #fff;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 4px 8px rgba(62, 48, 40, 0.2);

    transition: all 0.2s ease;
}

button:hover {
    background-color: #a84f36;
    transform: translateY(-2px);
}