.ticket {
    width: 300px;
    min-height: 130px;

    margin: 35px auto;
    padding: 25px;

    border: 2px solid #c96a4a;
    border-radius: 20px;

    background-color: #fffaf4;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    box-shadow: 0 8px 20px rgba(62, 48, 40, 0.15);

    position: relative;
}

.ticket p {
    position: absolute;
    top: 8px;

    margin: 0;

    color: #a84f36;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}